<aside id="left-panel" class="left-panel">


    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="assets/images/logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="assets/images/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/dashboard"> <i
                            class="menu-icon fa fa-th-large"></i>Tableau de bord </a>
                </li>



                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/client"> <i
                            class="menu-icon fa fa-users"></i>Clients</a>

                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" routerLinkActive="activeLink" class="dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-capsules"></i>Médicament</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-columns"></i><a routerLink="/category">Catégories</a></li>
                        <li><i class="menu-icon fa fa-crutch"></i><a routerLink="/type">Type médecine</a></li>
                        <li><i class="menu-icon fa fa-capsules"></i><a routerLink="/medicament">Médicaments</a></li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/constructor"> <i
                            class="menu-icon fa fa-clinic-medical"></i>Fabricants</a>
                </li>

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/buy"> <i
                            class="menu-icon fa fa-mortar-pestle"></i>Achat</a>
                </li>

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/stock"> <i
                            class="menu-icon fa fa-hospital"></i>Stock</a>
                </li>
                <!--
                <li class="menu-item-has-children dropdown">
                    <a href="#" routerLinkActive="activeLink" class="dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-mortar-pestle"></i>Revenir</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-mortar-pestle"></i><a>Stock</a></li>
                        <li><i class="menu-icon fa fa-mortar-pestle"></i><a>Fabricant</a></li>
                        <li><i class="menu-icon fa fa-mortar-pestle"></i><a>Gaspillage</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" routerLinkActive="activeLink" class="dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i
                            class="menu-icon fa fa-notes-medical"></i>Rapport</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-notes-medical"></i><a>Achat</a></li>
                        <li><i class="menu-icon fa fa-notes-medical"></i><a>Ventes</a></li>
                        <li><i class="menu-icon fa fa-notes-medical"></i><a>Profit</a></li>
                    </ul>
                </li>
               -->
                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/supplier"> <i
                            class="menu-icon fa fa-hospital-user"></i>Fournisseurs</a>

                </li>

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/service"> <i
                            class="menu-icon fa fa-stethoscope"></i>Services</a>
                </li>

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/invoice"> <i
                            class="menu-icon fa fa-file"></i>Facture
                        d'achat</a>
                </li>

                <li class="menu-item">
                    <a href="#" routerLinkActive="activeLink" routerLink="/configuration"> <i
                            class="menu-icon fa fa-cog"></i>Réglages</a>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->