<form action="https://pharmacyv5.bdtask.com/pharmacare-9.3_demo/Csupplier/insert_supplier" id="insert_supplier"
    enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate">
    <input type="hidden" name="csrf_test_name" value="6ea5babaa8a9985f88b3a90fab3fbf4d">
    <div class="panel-body">

        <div class="form-group row">
            <label for="supplier_name" class="col-sm-3 col-form-label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Nom du fournisseur </font>
                </font><i class="text-danger">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">*</font>
                    </font>
                </i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" name="supplier_name" id="supplier_name" type="text"
                    placeholder="Nom du fournisseur" required="" tabindex="1" aria-required="true">
            </div>
        </div>

        <div class="form-group row">
            <label for="mobile" class="col-sm-3 col-form-label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Mobile fournisseur </font>
                </font><i class="text-danger"></i>
            </label>
            <div class="col-sm-6">
                <input class="form-control" name="mobile" id="mobile" type="number" placeholder="Mobile fournisseur"
                    min="0" tabindex="2">
            </div>
        </div>

        <div class="form-group row">
            <label for="address " class="col-sm-3 col-form-label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Adresse du fournisseur</font>
                </font>
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" name="address" id="address " rows="3"
                    placeholder="Adresse du fournisseur" tabindex="3"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="details" class="col-sm-3 col-form-label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Détails du fournisseur</font>
                </font>
            </label>
            <div class="col-sm-6">
                <textarea class="form-control" name="details" id="details" rows="3" placeholder="Détails du fournisseur"
                    tabindex="4"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="details" class="col-sm-3 col-form-label">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Solde précédent</font>
                </font>
            </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="previous_balance" placeholder="Solde précédent"
                    tabindex="5">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-6">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><input type="submit" id="add-supplier"
                                    class="btn btn-primary btn-large" name="add-supplier" value="Enregistrer "
                                    tabindex="6"></font>
                        </font>
                    </font>
                </font>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><input type="submit"
                                    value="Enregistrer et ajouter un autre" name="add-supplier-another"
                                    class="btn btn-large btn-success" id="add-supplier-another" tabindex="5"></font>
                        </font>
                    </font>
                </font>
            </div>
        </div>
    </div>
</form>