<div class="card">
  <div class="card-header">
    <strong class="card-title">Fournisseur</strong>
  </div>
  <div class="card-body">
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nom </th>
          <th>Adresse</th>
          <th>Mobile</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>


        <tr *ngFor="let item of suppliers$">
          <td>{{item.supplier_name}} </td>
          <td>{{item.address}}</td>
          <td>{{item.mobile}} </td>
          <td>
            <button (click)="moveEditSupplier()" type="button" class="btn btn-warning btn-sm" data-toggle="modal"
              data-target="#edit-supplier"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm"
              onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"><i
                class="fas fa-trash-alt"></i></button>
          </td>
        </tr>


        <tr>
          <td>Eugène Boileau
          </td>
          <td>12, rue Pierre De Coubertin
            31100 TOULOUSE</td>
          <td>05.41.65.19.71 </td>
          <td>
            <button (click)="moveEditSupplier()" type="button" class="btn btn-warning btn-sm" data-toggle="modal"
              data-target="#edit-supplier"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm"
              onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"><i
                class="fas fa-trash-alt"></i></button>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Nom </th>
          <th>Adresse</th>
          <th>Mobile</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSupplier">Ajouter</button>

    <div class="modal fade" id="addSupplier" data-backdrop="false" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nouveau</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-add-supplier></app-add-supplier>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="editSupplier" data-backdrop="false" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-edit-supplier></app-edit-supplier>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

          </div>
        </div>
      </div>
    </div>
























  </div>
</div>