
        <form 
            class="form-vertical" id="insert_sale" name="insert_sale" enctype="multipart/form-data" method="post"
            accept-charset="utf-8">
            <input type="hidden" name="csrf_test_name" value="6ea5babaa8a9985f88b3a90fab3fbf4d">
            <div class="row" >

                <div class="col-sm-8" id="payment_from_1">
                    <div class="form-group row">
                        <label for="customer_name" class="col-sm-3 col-form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nom du client / téléphone </font>
                            </font><i class="text-danger">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">*</font>
                                </font>
                            </i>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" size="100" name="customer_name" class=" form-control"
                                placeholder="Nom du client / téléphone" id="customer_name" tabindex="1"
                                onkeyup="if (!window.__cfRLUnblockHandlers) return false; customer_autocomplete()"
                                value="Walking Customer">

                            <input id="autocomplete_customer_id" class="customer_hidden_value abc" type="hidden"
                                name="customer_id" value="1">
                        </div>
                        <div class=" col-sm-3">
                            <a href="#" class="client-add-btn btn btn-success" aria-hidden="true" data-toggle="modal"
                                data-target="#cust_info"><i class="ti-plus m-r-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8" id="payment_from_2">
                    <div class="form-group row">
                        <label for="customer_name_others" class="col-sm-3 col-form-label">Nom Client <i
                                class="text-danger">*</i></label>
                        <div class="col-sm-6">
                            <input autofill="off" type="text" size="100" name="customer_name_others"
                                placeholder="Nom" id="customer_name_others" class="form-control">

                        </div>

                        <div class="col-sm-3">
                            <input
                                onclick="if (!window.__cfRLUnblockHandlers) return false; active_customer('payment_from_2')"
                                type="button" id="myRadioButton_2" class="checkbox_account btn btn-success"
                                name="customer_confirm_others" value="Old Customer">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer_name_others_address" class="col-sm-3 col-form-label"> Mobile
                        </label>
                        <div class="col-sm-6">
                            <input type="text" size="100" name="customer_mobile" class=" form-control"
                                placeholder=" Mobile" id="customer_name_others_mobile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customer_name_others_address" class="col-sm-3 col-form-label">Adresse </label>
                        <div class="col-sm-6">
                            <input type="text" size="100" name="customer_name_others_address" class=" form-control"
                                placeholder="Address" id="customer_name_others_address">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="payment_from3">
                    <div class="form-group row">
                        <label for="payment_type" class="col-sm-3 col-form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Type de paiement </font>
                            </font><i class="text-danger">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">*</font>
                                </font>
                            </i>
                        </label>
                        <div class="col-sm-7">
                            <select name="paytype" class="form-control select2-hidden-accessible" required=""
                                onchange="if (!window.__cfRLUnblockHandlers) return false; bank_paymet(this.value)"
                                tabindex="-1" aria-hidden="true">
                                <option value="1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Paiement en espèces</font>
                                    </font>
                                </option>
                                <option value="2">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Paiement bancaire</font>
                                    </font>
                                </option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                style="width: 451.047px;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="3"
                                        aria-labelledby="select2-paytype-o1-container"><span
                                            class="select2-selection__rendered" id="select2-paytype-o1-container"
                                            title="Paiement en espèces"><span class="select2-selection__clear">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">×</font>
                                                </font>
                                            </span>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Paiement en espèces</font>
                                            </font>
                                        </span><span class="select2-selection__arrow" role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span>



                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="date" class="col-sm-4 col-form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Date </font>
                            </font><i class="text-danger">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">*</font>
                                </font>
                            </i>
                        </label>
                        <div class="col-sm-8">
                            <input class="datepicker form-control hasDatepicker" type="text" size="50"
                                name="invoice_date" id="date" required="" value="2020-12-18" tabindex="4">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" id="bank_div" style="display: none;">
                    <div class="form-group row">
                        <label for="bank" class="col-sm-4 col-form-label">Bank <i class="text-danger">*</i></label>
                        <div class="col-sm-8">
                            <select name="bank_id" class="form-control bankpayment select2-hidden-accessible"
                                id="bank_id" tabindex="-1" aria-hidden="true" style="width: 100%;">
                                <option value="">Select Location</option>
                                <option value="OJZ4ZM2W9T">Demo international Bank </option>
                                <option value="A1IZI9DBRW">Netro Bank Ltd </option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                style="width: auto;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                                        aria-labelledby="select2-bank_id-container"><span
                                            class="select2-selection__rendered" id="select2-bank_id-container"><span
                                                class="select2-selection__placeholder">Select option</span></span><span
                                            class="select2-selection__arrow" role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span>

                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="normalinvoice">
                    <thead>
                        <tr>
                            <th class="text-center" width="220">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Informations sur l'article </font>
                                </font><i class="text-danger">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">*</font>
                                    </font>
                                </i>
                            </th>
                            <th class="text-center" width="130">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Lot </font>
                                </font><i class="text-danger">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">*</font>
                                    </font>
                                </i>
                            </th>
                            <th class="text-center">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Qté Ava</font>
                                </font>
                            </th>
                            <th class="text-center" width="120">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Expiration</font>
                                </font>
                            </th>
                            <th class="text-center" width="100">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Unité</font>
                                </font>
                            </th>
                            <th class="text-center" width="70">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Qté </font>
                                </font><i class="text-danger">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">*</font>
                                    </font>
                                </i>
                            </th>
                            <th class="text-center" width="100">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Prix </font>
                                </font><i class="text-danger">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">*</font>
                                    </font>
                                </i>
                            </th>

                            <th class="text-center">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Remise %</font>
                                </font>
                            </th>

                            <th class="text-center" width="110">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Total </font>
                                </font>
                            </th>
                            <th class="text-center">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">action</font>
                                </font>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="addinvoiceItem">
                        <tr>
                            <td class="product_field">
                                <input type="text" name="product_name"
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; invoice_productList(1);"
                                    onkeypress="if (!window.__cfRLUnblockHandlers) return false; invoice_productList(1);"
                                    class="form-control productSelection" placeholder="Nom du médicament" required=""
                                    id="product_name_1" tabindex="7">

                                <input type="hidden" class="autocomplete_hidden_value product_id_1" name="product_id[]"
                                    id="product_id_1">

                                <input type="hidden" class="baseUrl"
                                    value="https://pharmacyv5.bdtask.com/pharmacare-9.3_demo/">
                            </td>
                            <td>
                                <select class="form-control select2-hidden-accessible" id="batch_id_1" name="batch_id[]"
                                    onchange="if (!window.__cfRLUnblockHandlers) return false; product_stock(1)"
                                    tabindex="-1" required="required" aria-hidden="true">
                                    <option></option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    style="width: 113px;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="8"
                                            aria-labelledby="select2-batch_id_1-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-batch_id_1-container"><span
                                                    class="select2-selection__placeholder">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Sélectionnez l'option
                                                        </font>
                                                    </font>
                                                </span></span><span class="select2-selection__arrow"
                                                role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </td>
                            <td>
                                <input type="text" name="available_quantity[]"
                                    class="form-control text-right available_quantity_1" value="0" readonly=""
                                    id="available_quantity_1">
                            </td>
                            <td id="expire_date_1">

                            </td>
                            <td>
                                <input name="" id="" class="form-control text-right unit_1 valid" value="None"
                                    readonly="" aria-invalid="false" type="text">
                            </td>
                            <td>
                                <input type="text" name="product_quantity[]"
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1),checkqty(1);"
                                    onchange="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1);"
                                    class="total_qntt_1 form-control text-right allownumericwithdecimal"
                                    id="total_qntt_1" placeholder="0,00" min="0" tabindex="9" required="">
                            </td>
                            <td class="invoice_fields">
                                <input type="text" name="product_rate[]" id="price_item_1"
                                    class="price_item1 price_item form-control text-right allownumericwithdecimal"
                                    tabindex="10" required=""
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1),checkqty(1);"
                                    onchange="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1);"
                                    placeholder="0,00" min="0">
                            </td>
                            <!-- Discount -->
                            <td>
                                <input type="text" name="discount[]"
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1),checkqty(1);"
                                    onchange="if (!window.__cfRLUnblockHandlers) return false; quantity_calculate(1);"
                                    id="discount_1" class="form-control text-right allownumericwithdecimal" min="0"
                                    tabindex="11" placeholder="0,00">

                                <input type="hidden" value="" name="discount_type" id="discount_type_1">
                            </td>


                            <td class="invoice_fields">
                                <input class="total_price form-control text-right" type="text" name="total_price[]"
                                    id="total_price_1" value="0.00" readonly="readonly">
                            </td>

                            <td>
                                <!-- Tax calculate start-->
                                <input id="total_tax0_1" class="total_tax0_1" type="hidden">
                                <input id="all_tax0_1" class="total_tax0" type="hidden" name="tax[]">

                                <!-- Tax calculate end-->

                                <!-- Discount calculate start-->

                                <input id="total_tax1_1" class="total_tax1_1" type="hidden">
                                <input id="all_tax1_1" class="total_tax1" type="hidden" name="tax[]">

                                <!-- Tax calculate end-->

                                <!-- Discount calculate start-->

                                <input id="total_tax2_1" class="total_tax2_1" type="hidden">
                                <input id="all_tax2_1" class="total_tax2" type="hidden" name="tax[]">

                                <!-- Tax calculate end-->

                                <!-- Discount calculate start-->

                                <!-- Tax calculate end-->

                                <!-- Discount calculate start-->
                                <input type="hidden" id="total_discount_1" class="">
                                <input type="hidden" id="all_discount_1" class="total_discount dppr">
                                <!-- Discount calculate end -->

                                <button type="button" class="btn btn-danger" tabindex="12"
                                    onclick="if (!window.__cfRLUnblockHandlers) return false; deleteRow(this)"><i
                                        class="fa fa-close"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr>
                            <td colspan="7" rowspan="2">
                                <label for="details" class="col-form-label text-center">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Détails de la facture</font>
                                    </font>
                                </label>
                                <textarea name="inva_details" class="form-control"
                                    placeholder="Détails de la facture"></textarea>
                            </td>
                            <td class="text-right" colspan="1"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Remise sur facture:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="invdcount"
                                    class="form-control text-right allownumericwithdecimal" name="invdcount"
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; calculateSum(),checknum();"
                                    onchange="if (!window.__cfRLUnblockHandlers) return false; calculateSum()"
                                    placeholder="0,00">

                            </td>
                            <td>
                                <button class="btn btn-info" type="button"
                                    onclick="if (!window.__cfRLUnblockHandlers) return false; addInputField('addinvoiceItem');"
                                    tabindex="12" id="add_invoice_item"><i class="fa fa-plus"></i>
                                </button>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-right"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Remise totale:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="total_discount_ammount" class="form-control text-right"
                                    name="total_discount" value="0.00" readonly="readonly">
                                <input type="hidden" name="baseUrl" class="baseUrl"
                                    value="https://pharmacyv5.bdtask.com/pharmacare-9.3_demo/">
                            </td>
                        </tr>
                        <tr class="hideableRow hiddenRow">

                            <td class="text-right" colspan="8"><b>SGST</b></td>
                            <td class="text-right">
                                <input id="total_tax_amount0" tabindex="-1"
                                    class="form-control text-right valid totalTax" name="total_tax0" value="0.00"
                                    readonly="readonly" aria-invalid="false" type="text">
                            </td>



                        </tr>
                        <tr class="hideableRow hiddenRow">

                            <td class="text-right" colspan="8"><b>CGST</b></td>
                            <td class="text-right">
                                <input id="total_tax_amount1" tabindex="-1"
                                    class="form-control text-right valid totalTax" name="total_tax1" value="0.00"
                                    readonly="readonly" aria-invalid="false" type="text">
                            </td>



                        </tr>
                        <tr class="hideableRow hiddenRow">

                            <td class="text-right" colspan="8"><b>IGST</b></td>
                            <td class="text-right">
                                <input id="total_tax_amount2" tabindex="-1"
                                    class="form-control text-right valid totalTax" name="total_tax2" value="0.00"
                                    readonly="readonly" aria-invalid="false" type="text">
                            </td>



                        </tr>
                        <tr>

                            <td class="text-right" colspan="8"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Taxe total:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input id="total_tax_amount" tabindex="-1" class="form-control text-right valid"
                                    name="total_tax" value="0.00" readonly="readonly" aria-invalid="false" type="text">
                            </td>
                            <td><a class="btn btn-warning taxbutton text-center" data-toggle="collapse"
                                    data-target=".hiddenRow" aria-expanded="false" aria-controls="hiddenRow"><i
                                        class="fa fa-angle-double-up"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="8" class="text-right"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Somme finale:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="grandTotal" class="form-control text-right"
                                    name="grand_total_price" value="0.00" readonly="readonly">
                                <input type="hidden" id="txfieldnum" value="3">
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Précédent:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="previous" class="form-control text-right" name="previous"
                                    value="0.00" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Total net:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="n_total" class="form-control text-right" name="n_total" value="0"
                                    readonly="readonly" placeholder="">
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right" colspan="8"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Montant payé:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="paidAmount"
                                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; calculateSum(),checknum();"
                                    class="form-control text-right allownumericwithdecimal" name="paid_amount"
                                    placeholder="0,00" tabindex="13">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <font style="vertical-align: inherit;"></font>

                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"></font>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"><input type="submit" id="add_invoice"
                                                    class="btn btn-success" name="add-invoice" value="Soumettre "
                                                    tabindex="15">
                                            </font>
                                            <font style="vertical-align: inherit;"><input type="button"
                                                    id="full_paid_tab" class="btn btn-warning" value="entièrement payé"
                                                    tabindex="14"
                                                    onclick="if (!window.__cfRLUnblockHandlers) return false; full_paid()">
                                            </font>
                                        </font>
                                    </font>
                                </font>
                            </td>

                            <td class="text-right" colspan="7"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Dû:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="dueAmmount" class="form-control text-right" name="due_amount"
                                    value="0.00" readonly="readonly">
                            </td>
                        </tr>
                        <tr id="change_m">
                            <td class="text-right" colspan="8" id="ch_l"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Changement:</font>
                                    </font>
                                </b></td>
                            <td class="text-right">
                                <input type="text" id="change" class="form-control text-right" name="change" value=""
                                    readonly="readonly">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
