<div class="card">
  <div class="card-header">
    <strong class="card-title">Service</strong>
  </div>
  <div class="card-body">
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nom </th>
          <th>Charge</th>
          <th>TVA</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of services$">
          <td>{{item.service_name}}</td>
          <td>{{item.charge}}$</td>
          <td>{{item.tax}}%</td>
          <td>
            <button type="button" data-toggle="modal" data-target="#editService" (click)="edit(item.id)"
              class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(ite.id)"><i
                class="fas fa-trash-alt"></i></button>
          </td>
        </tr>




      </tbody>
      <tfoot>
        <tr>
          <th>Nom </th>
          <th>Charge</th>
          <th>TVA</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addService"><i
        class="fas fa-plus-circle"></i> Créer</button>
  </div>
</div>

<app-modal-service></app-modal-service>