<form class="form-vertical" id="validate" name="insert_purchase" enctype="multipart/form-data" method="post"
    [formGroup]="buyForm" accept-charset="utf-8" novalidate="novalidate">

    <div class="row" id="manufacturer_info">
        <div class="col-sm-6">


            <div class="form-group row">
                <label for="manufacturer_sss" class="col-sm-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Fabricant </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-sm-9">
                    <select name="manufacturer_id" id="manufacturer_id" class="form-control select2-hidden-accessible"
                        required="required" tabindex="-1" aria-hidden="true" aria-required="true">


                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> Sélectionnez le fabricant</font>
                            </font>
                        </option>
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">carré </font>
                            </font>
                        </option>
                        <option value="2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Farto &amp; Deto Pharmaceuticals Ltd</font>
                            </font>
                        </option>

                    </select>
                </div>


            </div>
        </div>


        <div class="col-sm-6">
            <div class="form-group row">
                <label for="date" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Date d'achat </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                        [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                        type="text" tabindex="2" class="form-control datepicker hasDatepicker" name="purchase_date"
                        value="2020-12-18" id="purdate" required="" aria-required="true">

                    <div *ngIf="submitted && f.purchase_date.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.purchase_date.errors.required">
                            {{msg.validationMessage.purchase_date}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="invoice_no" class="col-sm-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">No de facture </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-sm-9">
                    <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                        type="text" tabindex="3" class="form-control" name="chalan_no" placeholder="No de facture"
                        id="invoice_no" required="" aria-required="true">

                    <div *ngIf="submitted && f.chalan_no.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.chalan_no.errors.required">
                            {{msg.validationMessage.chalan_no}}</div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="form-group row">
                <label for="adress" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Détails </font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" tabindex="4" id="adress" name="purchase_details"
                        placeholder=" Détails" rows="1"></textarea>
                </div>
            </div>
        </div>


    </div>
    <div class="row">



        <div class="col-sm-6" id="payment_from_1">


            <div class="form-group row">
                <label for="payment_type" class="col-sm-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Type de paiement </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-sm-9">
                    <select name="paytype" class="form-control select2-hidden-accessible" required=""
                        onchange="if (!window.__cfRLUnblockHandlers) return false; bank_paymet(this.value)"
                        tabindex="-1" aria-hidden="true" aria-required="true">
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Paiement en espèces</font>
                            </font>
                        </option>
                        <option value="2">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Paiement bancaire</font>
                            </font>
                        </option>
                        <option value="3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Paiement dû</font>
                            </font>
                        </option>
                    </select>



                </div>

            </div>
        </div>


        <div class="col-sm-6" id="bank_div" style="display: none;">
            <div class="form-group row">
                <label for="bank" class="col-sm-4 col-form-label">Bank <i class="text-danger">*</i></label>
                <div class="col-sm-8">
                    <select name="bank_id" class="form-control select2-hidden-accessible" id="bank_id" tabindex="-1"
                        aria-hidden="true">
                        <option value="">Select Location</option>
                        <option value="OJZ4ZM2W9T">Demo international Bank </option>
                        <option value="A1IZI9DBRW">Netro Bank Ltd </option>
                    </select>

                </div>

            </div>
        </div>



    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="purchaseTable">
            <thead>
                <tr>
                    <th class="text-center" width="20%">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Informations sur l'article </font>
                        </font><i class="text-danger">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">*</font>
                            </font>
                        </i>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">ID de lot </font>
                        </font><i class="text-danger">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">*</font>
                            </font>
                        </i>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Date d'expiration </font>
                        </font><i class="text-danger">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">*</font>
                            </font>
                        </i>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Stock / Qnt</font>
                        </font>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Quantité </font>
                        </font><i class="text-danger">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">*</font>
                            </font>
                        </i>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Prix ​​fabricant </font>
                        </font><i class="text-danger">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">*</font>
                            </font>
                        </i>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Total</font>
                        </font>
                    </th>
                    <th class="text-center">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">action</font>
                        </font>
                    </th>
                </tr>
            </thead>
            <tbody id="addPurchaseItem">
                <tr>
                    <td class="span3 manufacturer">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" name="product_name" required=""
                            class="form-control product_name productSelection"
                            onkeypress="if (!window.__cfRLUnblockHandlers) return false; product_pur_or_list(1);"
                            placeholder="Nom du médicament" id="product_name_1" tabindex="6" aria-required="true">

                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="hidden" class="autocomplete_hidden_value product_id_1" name="product_id[]"
                            id="SchoolHiddenId">

                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="hidden" class="sl" value="1">
                    </td>
                    <td>
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" name="batch_id[]" id="batch_id_1" class="form-control text-right" tabindex="7"
                            placeholder="ID de lot" required="" aria-required="true">
                    </td>
                    <td>
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" name="expeire_date[]" id="expeire_date_1"
                            class="form-control datepicker hasDatepicker" tabindex="8" placeholder="Date d'expiration"
                            onchange="if (!window.__cfRLUnblockHandlers) return false; checkExpiredate(1)" required=""
                            aria-required="true">
                    </td>

                    <td class="wt">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" id="available_quantity_1" class="form-control text-right stock_ctn_1"
                            placeholder="0,00" readonly="">
                    </td>

                    <td class="text-right">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" name="product_quantity[]" id="quantity_1"
                            class="form-control text-right store_cal_1"
                            onkeyup="if (!window.__cfRLUnblockHandlers) return false; calculate_store(1),checkqty(1);"
                            onchange="if (!window.__cfRLUnblockHandlers) return false; calculate_store(1);"
                            placeholder="0,00" value="" min="0" tabindex="9" required="required" aria-required="true">
                    </td>
                    <td class="test">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" name="product_rate[]"
                            onkeyup="if (!window.__cfRLUnblockHandlers) return false; calculate_store(1),checkqty(1);"
                            onchange="if (!window.__cfRLUnblockHandlers) return false; calculate_store(1);"
                            id="product_rate_1" class="form-control product_rate_1 text-right" placeholder="0,00"
                            value="" min="0" tabindex="10" required="required" aria-required="true">
                    </td>


                    <td class="text-right">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            class="form-control total_price text-right" type="text" name="total_price[]"
                            id="total_price_1" value="0.00" readonly="readonly">
                    </td>
                    <td>


                        <button type="button" class="btn btn-danger" tabindex="11"
                            onclick="if (!window.__cfRLUnblockHandlers) return false; deleteRow(this)"><i
                                class="fa fa-close"></i></button>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">


                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="hidden" name="baseUrl" class="baseUrl">
                    </td>
                    <td class="text-right" colspan="4"><b>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Somme finale:</font>
                            </font>
                        </b></td>
                    <td class="text-right">
                        <input [ngClass]="{ 'is-invalid': submitted && f.supplier.errors }" formControlName="supplier"
                            type="text" id="grandTotal" class="text-right form-control" name="grand_total_price"
                            value="0.00" readonly="readonly">
                    </td>
                    <td>
                        <button id="add_invoice_item" type="button" class="btn btn-info" name="add-invoice-item"
                            onclick="if (!window.__cfRLUnblockHandlers) return false; addPurchaseOrderField1('addPurchaseItem')"
                            tabindex="12"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-8">
        <button (click)="add()" type="button" class="btn btn-info">
            <i class="fas fa-save"></i>
            Sauvegarder
        </button>
        <button (click)="reset()" type="button" class="btn btn-danger">
            <i class="fas fa-times"></i>
            Annuler
        </button>
    </div>
</form>