<div class="col-sm-12 mb-4">
    <div class="card-group">
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-users"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">87500</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Clients</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-user-plus"></i>
                </div>
                <div class="h4 mb-0">
                    <span class="count">385</span>
                </div>
                <small class="text-muted text-uppercase font-weight-bold">Factures</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-cart-plus"></i>
                </div>
                <div class="h4 mb-0">
                    <span class="count">1238</span>
                </div>
                <small class="text-muted text-uppercase font-weight-bold">Médicaments</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-pie-chart"></i>
                </div>
                <div class="h4 mb-0">
                    <span class="count">28</span>%
                </div>
                <small class="text-muted text-uppercase font-weight-bold">Services</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="h4 mb-0">5:34:11</div>
                <small class="text-muted text-uppercase font-weight-bold">Fabricants</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-comments-o"></i>
                </div>
                <div class="h4 mb-0">
                    <span class="count">972</span>
                </div>
                <small class="text-muted text-uppercase font-weight-bold">Catégories </small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
    </div>

    
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
           
                                  <h4 class="mb-3">Revenue</h4>
                                  <canvas id="team-chart" height="225"  width="450" class="revenue-chart chartjs-render-monitor"></canvas>
             </div>
             </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
           
                                  <h4 class="mb-3">Dépenses</h4>
                                  <canvas id="team-chart" height="225"  width="450" class="expense-chart chartjs-render-monitor"></canvas>
             </div>
             </div>
        </div>
        
    </div>
   
</div>
