<div class="language-select dropdown" id="language-select">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
        <i class="flag-icon flag-icon-us"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="language">
        <div class="dropdown-item">
            <span class="flag-icon flag-icon-fr"></span>
        </div>
        <div class="dropdown-item">
            <i class="flag-icon flag-icon-es"></i>
        </div>
        <div class="dropdown-item">
            <i class="flag-icon flag-icon-us"></i>
        </div>
        <div class="dropdown-item">
            <i class="flag-icon flag-icon-it"></i>
        </div>
    </div>
</div>