<div class="card">
    <div class="card-header">
        <strong class="card-title">Categorie Medicament</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>azz</td>
                    <td>Anis fzefze</td>
                    <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                        <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                        <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
          
                </tr>
            
            </tbody>
        </table>
    </div>
</div>
