<div class="dropdown for-notification">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i>
        <!--<span class="count bg-danger">5</span>-->
    </button>
    <div class="dropdown-menu" aria-labelledby="notification">
        <p class="red">Accès rapide</p>
        <a routerLink="addsupplier" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter founisseur</p>
        </a>
        <a routerLink="addclient" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter client</p>
        </a>
        <a routerLink="addconstructor" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter constructeur</p>
        </a>
        <a routerLink="addmedicament" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter médicament</p>
        </a>
        <a routerLink="addservice" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter service</p>
        </a>
        <a routerLink="addinvoice" class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Ajouter facture</p>
        </a>
    </div>
</div>