<div class="user-area dropdown float-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
    </a>

    <div class="user-menu dropdown-menu">
        <!--  <a class="nav-link" routerLink="/profile" href="#"><i class="fa fa-user"></i> My Profile</a>-->


        <a class="nav-link" routerLink="/configuration" href="#"><i class="fa fa-cog"></i>
            Parametres</a>

        <a class="nav-link" routerLink="/login" href="#"><i class="fa fa-power-off"></i> Déconnexion</a>
    </div>
</div>