<form id="insert_manufacturer" enctype="multipart/form-data" method="post" accept-charset="utf-8"
    [formGroup]="constructorForm">


    <div class="panel-body">
        <div class="col-sm-6">

            <div class="form-group row">
                <label for="manufacturer_name" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom du fabricant </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.manufacturer_name.errors }"
                        formControlName="manufacturer_name" class="form-control" name="manufacturer_name"
                        id="manufacturer_name" type="text" placeholder="Nom du Fabricant" required="" tabindex="1">

                    <div *ngIf="submitted && f.manufacturer_name.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.manufacturer_name.errors.required">
                            {{msg.validationMessage.manufacturer_name}}</div>
                    </div>

                </div>
            </div>



            <div class="form-group row">
                <label for="mobile" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Fabricant Mobile </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" formControlName="mobile"
                        class="form-control" name="mobile" id="mobile" type="number" placeholder="Fabricant Mobile"
                        min="0" tabindex="2">

                    <div *ngIf="submitted && f.mobile.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.mobile.errors.required">
                            {{msg.validationMessage.mobile}}</div>
                    </div>

                </div>
            </div>



            <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Téléphone </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone"
                        class="form-control" name="phone" id="phone" type="number" placeholder="Téléphone" min="0"
                        tabindex="2">

                    <div *ngIf="submitted && f.phone.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.phone.errors.required">
                            {{msg.validationMessage.phone}}</div>
                    </div>

                </div>
            </div>



            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Email </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                        class="form-control" name="email" id="email" type="email" placeholder="Email" tabindex="2">

                    <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.email.errors.required">
                            {{msg.validationMessage.email}}</div>
                    </div>

                </div>
            </div>







            <div class="form-group row">
                <label for="fax" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Fax </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.fax.errors }" formControlName="fax"
                        class="form-control" name="fax" id="fax" type="text" placeholder="Fax">

                    <div *ngIf="submitted && f.fax.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.fax.errors.required">
                            {{msg.validationMessage.fax}}</div>
                    </div>


                </div>
            </div>


            <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Ville </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.city.errors }" formControlName="city"
                        class="form-control" name="city" id="city" type="text" placeholder="Ville">

                    <div *ngIf="submitted && f.city.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.city.errors.required">
                            {{msg.validationMessage.city}}</div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-sm-6">


            <div class="form-group row">
                <label for="state" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Etat </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.state.errors }" formControlName="state"
                        class="form-control" name="state" id="state" type="text" placeholder="Etat">

                    <div *ngIf="submitted && f.state.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.state.errors.required">
                            {{msg.validationMessage.state}}</div>
                    </div>


                </div>
            </div>


            <div class="form-group row">
                <label for="zip" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Code postal </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" formControlName="zip"
                        class="form-control" name="zip" id="zip" type="text" placeholder="Code postal">

                    <div *ngIf="submitted && f.zip.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.zip.errors.required">
                            {{msg.validationMessage.zip}}</div>
                    </div>

                </div>
            </div>



            <div class="form-group row">
                <label for="country" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Pays </font>
                    </font><i class="text-danger"></i>
                </label>
                <div class="col-sm-8">

                    <select name="country" class="form-control select2-hidden-accessible" tabindex="-1"
                        aria-hidden="true">

                        <option value="Afghanistan">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Afghanistan</font>
                            </font>
                        </option>

                    </select>
                </div>
            </div>



            <div class="form-group row">
                <label for="address " class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Adresse du fabricant</font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="address" id="address " rows="2"
                        placeholder="Adresse du fabricant"></textarea>
                </div>
            </div>






            <div class="form-group row">
                <label for="details" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Détails du fabricant</font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="details" id="details" rows="2"
                        placeholder="Détails du fabricant" tabindex="4"></textarea>
                </div>
            </div>


            <div class="form-group row">
                <label for="previous_balance" class="col-sm-4 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Solde précédent</font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.previous_balance.errors }"
                        formControlName="previous_balance" class="form-control" name="previous_balance"
                        id="previous_balance" type="text" min="0" placeholder="Solde précédent" tabindex="5">

                    <div *ngIf="submitted && f.previous_balance.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.previous_balance.errors.required">
                            {{msg.validationMessage.previous_balance}}</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <button (click)="add()" type="button" class="btn btn-info">
                <i class="fas fa-save"></i>
                Sauvegarder
            </button>
            <button (click)="reset()" type="button" class="btn btn-danger">
                <i class="fas fa-times"></i>
                Annuler
            </button>
        </div>
    </div>
</form>