<form class="form-vertical" id="insert_category" method="post" accept-charset="utf-8" novalidate="novalidate">

    <div class="form-group row">


        <label for="category_name" class="col-sm-3 col-form-label">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Nom de la catégorie </font>
            </font><i class="text-danger">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">*</font>
                </font>
            </i>
        </label>
        <div class="col-sm-6">
            <input [(ngModel)]="model.category_name" class="form-control" name="category_name" id="category_name"
                value="{{model.category_name}}" type="text" placeholder="Nom de catégorie" required=""
                aria-required="true">

        </div>


        <div class="col-sm-3">
            <button (click)="edit()" type="button" class="btn btn-info">
                <i class="fas fa-save"></i>
                Sauvegarder
            </button>
        </div>
    </div>
</form>